<div class="layui-card-header">About</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <blockquote class="layui-elem-quote" style="border: none;">
            <p>Bingo is a set of new tools, new methods and new technologies for integrated online teaching based on
                Websocket and Protobuf communication developed using Golang</p>
        </blockquote>
        <p>Base on:</p>
        <blockquote class="layui-elem-quote" style="border: none;">
            <p>layui-v{{ layui.v }}</p>
            <p>Golang-v1.15.2</p>
            <p>Protobuf 3</p>
        </blockquote>
    </script>
    <div class="layui-btn-container">
        <a href="https://github.com/dirname/eduhacks2020" target="_blank" class="layui-btn">Sources Code</a>
    </div>
</div>